<h2>会員一覧</h2>

<table border="1">
	<thead>
		<tr bgcolor="gray">
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<% @clients.each do |client| %>
		<tbody>
			<tr>
				<td><%= client.id %></td>
				<td><%= link_to admin_client_path(client) do %>
						<%= client.last_name %><%= client.first_name %>
						<% end %></td>
				<td><%= client.email %></td>
				<td><% if client.is_deleted == true %>退会済み
						<% else %>有効
						<% end %></td>
			</tr>
		</tbody>
	<% end %>
</table>