<div class="container">
	<div class="row">
	    <div class="col-xs-1">
	    </div>
	    <div class="col-xs-9">
			<h2>会員一覧</h2>
			 <table class="api-table">
			<thead>
				<tr>
					<th class="api-th">会員ID</th>
					<th class="api-th">氏名</th>
					<th class="api-th">メールアドレス</th>
					<th class="api-th">ステータス</th>
				</tr>
			</thead>
			<% @clients.each do |client| %>
				<tbody>
					<tr>
						<td class="api-td"><%= client.id %></td>
						<td class="api-td"><%= link_to admin_client_path(client) do %>
								<%= client.last_name %><%= client.first_name %>
								<% end %></td>
						<td class="api-td"><%= client.email %></td>
						<td class="api-td"><% if client.is_deleted == true %>退会済み
								<% else %>有効
								<% end %></td>
					</tr>
				</tbody>
			<% end %>
		</table>
	</div>

</div>