<div class="container">
  <div class="row">
    <h2><%= @client.last_name %><%= @client.first_name %>さんの会員詳細</h2>
      <table>
          <tr>
            <td>顧客ID</td>
            <td><%= @client.id %>
              <% if @client.is_deleted == true %><span class="label label-info">退会済み</span>
              <% else %><span class="label label-info">有効会員</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @client.last_name %> <%= @client.first_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td><%= @client.last_name_kana %> <%= @client.first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @client.postcode %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @client.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @client.phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @client.email %></td>
          </tr>
      </table>
  </div>
  <div class="row">
    <div class="col-mt-2">
      <table>
        <tr>
          <td><%= link_to '編集する', edit_admin_client_path, class: "btn btn-primary" %></td>
          <td><%= link_to '注文履歴一覧を見る', admin_orders_path, class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
