<h4>注文情報確認</h4>

<%= form_with(model: @order, local: true) do |f| %>
	<table>
		<thead>
			<tr>
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>数量</th>
				<th>小計</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>data</td>
			</tr>
		</tbody>
	</table>
	<strong>支払方法</strong>
		<p><%= @order.pay_method %></p>
	<strong>お届け先</strong>
		<p><%= @order.postcode %></p>
		<p><%= @order.address %></p>
		<p><%= @order.name %></p>

	<%= f.submit "購入を確定する", class: "btn btn-success" %>

<% end %>