<div class="contain">
  <div class="row">
    <div class="col-xs-2">
      <h3>ジャンル検索</h3>
      <% @genres.each do |genre| %>
        <% if genre.valid_flag == true %>
          <div class="search-genre-name">
            <%= link_to products_search_path(genre) do %>
            <%= genre.name %>
            (<%= genre.products.count %>)
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-10">
      <h2>商品一覧　全<%= @products.count %>件</h2>
      <div class="index-container">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="index-item">
              <div class="index-img">
                <%= attachment_image_tag product, :image ,style: "width: 192px; height: 108px;" %>
              </div>
              <div class="index-box">
                <div class="index-name">
                  <%= product.name.truncate(19) %>
                </div>
                <div class="index-price">
                  ¥<%= product.price.to_s(:delimited) %>
                  <% if product.sale_status == false %>
                    <div class ="soldout">SOLD OUT</div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="peja">
    </div>
  </div>
</div>