<h2>商品詳細(会員側)</h2>
<div class="show-img">
  <%= attachment_image_tag @product, :image ,style: "width: 320px; height: 180px;" %>
</div>
<div class="show-content">
  <div class="show-name">
    <%= @product.name %>
  </div>
  <div class="show-explanation">
    <%= @product.explanation %>
  </div>
  <div class="show-price">
    ￥<%= price_tax(@product.price).to_s(:delimited) %>(税込)
  </div>
</div>


<% if @product.sale_status == true %>
  <%= form_with(model: [@cart_item], local: true, url:cart_items_path ) do |f| %>
    <%= f.label :個数　%>
    <%= f.number_field :quantity, value: 1 ,min:1, max:99 %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.submit "カートに入れる", class: "btn btn-primary" %>
   <% end %>
<% else %>SOLD OUT
<% end %>