<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<%= render 'client/products/list', genres: @genres %>
		</div>
		<h2 class="cps-h2">商品詳細</h2>
		<div class="col-lg-5">
			<div>
				<%= attachment_image_tag @product, :image ,style: "width: 480px; height: 270px;" %>
			</div>
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-4">
			<div class="cps-name">
				<%= @product.name %>
			</div>
			<div class="cps-exp">
				<%= @product.explanation %>
			</div>
			<div class="cps-price">
				¥<%= price_tax(@product.price).to_s(:delimited) %>(税込)
			</div>

      <div class="cps-sale">
	      <% if @product.sale_status == true %>
				<%= form_with(model: [@cart_item], local: true, url:cart_items_path ) do |f| %>
				  <%= f.label :個数　%>
				  <%= f.number_field :quantity, value: 1 ,min:1, max:99 %>
				  <%= f.hidden_field :product_id, value: @product.id %>
				  <%= f.submit "カートに入れる", class: "btn btn-primary" %>
				 <% end %>
	      <% else %>
	      	<div class ="soldout-sf">
            <p class="soldout-sc">SOLD OUT</p>
          </div>
	      <% end %>
	    	</div>
		</div>
	</div>
</div>