<h2>マイページ</h2>
<h4>登録情報</h4>
<%= link_to '編集する', edit_client_path, class: "btn btn-primary" %>
<%= link_to 'パスワードを変更する', "#", class: "btn btn-primary" %>

<table border="1">
    <tr>
      <td>氏名</td>
      <td><%= @client.last_name %> <%= @client.first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @client.last_name_kana %> <%= @client.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @client.postcode %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @client.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @client.phone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @client.email %></td>
    </tr>
</table>

  <table>
    <tr>
      <td><h4>配送先</h4></td>
      <td><%= link_to '一覧を見る', deliveries_path, class: "btn btn-primary" %></td>
    </tr>
    <tr>
      <td><h4>注文履歴</h4></td>
      <td><%= link_to '一覧を見る', orders_path, class: "btn btn-primary" %></td>
    </tr>
  </table>
  


