<h2>ジャンル編集</h2>
  <% if @genre.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= @genre.errors.count %>件のエラーがあります。</h4>
      <ul>
        <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @genre,:url => {controller: "genres", action: "update"} do |f| %>
  <div class="field">
    <%= f.label :ジャンル %>
    <%= f.text_field :name %>
    <%= f.radio_button :valid_flag, "true" %>有効
    <%= f.radio_button :valid_flag, "false" %>無効
    <%= f.submit '変更を保存する', class: "btn btn-primary" %>
  </div>
<% end %>

