<h1>商品登録（仮）</h1>
<%= form_for(@product) do |f| %>
	 <div class="field">
	 	<%= f.label :商品名 %>
	 	<%= f.text_field :name %>
	 </div>
	 <div class="field">
	 	<%= f.label :税抜価格 %>
	 	<%= f.text_field :price %>
	 </div>
	 <%= f.submit '登録する', class: "btn btn-succuess"%>
<% end %>

